section{
//    height: 100vh;
//    margin-right: 100vw;
//    backltound-color: black;
}
.one{
    background-color: aqua;
}
.two{
    background-color: green;
}
.three{
    background-color: red;
}
.four{
    background-color: yellow;
}



[class*='gr-'] {
  height: 200px;
}

