section{
//    height: 100vh;
//    margin-right: 100vw;
//    backltound-color: black;
}
.one{
    background-color: aqua;
}
.two{
    background-color: green;
}
.three{
    background-color: red;
}
.four{
    background-color: yellow;
}



.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}
#page1{
    width: 100vw;
    height: 20vh;
}
.icon-facebook-logo-button {
	height: 100%;
	width: 20%;
    color: red;
}
